  *{
        margin: 0;
        padding: 0;

    }
    .container{
        box-sizing: border-box;
        height: 100vh;
        width: 100vw;
         background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
      justify-content: space-between;
        height: 27rem;
        width: 18.125rem;
        border-radius: 0.625rem;
       background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); 
      gap: 15px;
    }
   #topimage img{
    height:7rem ;
     width: 18.125rem;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
  }
  
h3{
  font-weight: 600;
  text-align: center;
  padding: 10px 15px 10px;
}
p{
  text-align: center;
  padding: 10px 15px 10px;
}
.plan{
 
  display: flex;
  gap: 10px;
  
}
.plansss{
  display: flex;
  flex-direction: column;
}
#annualplan{
    display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: center;
   height:2.7rem ;
     width: 14.375rem;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    
     border-radius: 0.325rem;
}
#photo{
  align-self: center;
  mix-blend-mode: var(#80D0C7);
   height:2rem ;
     width: 2rem;
      border-radius: 25%;
   object-fit: cover;

}

#pay{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
   height:2.7rem ;
     width: 14.375rem;
     color: #ebedee;
     background-image: linear-gradient( 186.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );
     box-shadow: 0px 5px 10px   rgba(8,24,68,1);
     border-radius: 0.325rem;
}    
    