  *{
        margin: 0;
        padding: 0;

    }
    .container{
        height: 100vh;
        width: 100vw;
        background-color: cadetblue;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card{
        height: 500px;
        width: 300px;
        background-color: aliceblue;
    }